body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: radial-gradient(circle at top, #ff758f, #590d22, #1a0008);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.contenedor {
    width: 100%;
    padding: 20px;
    z-index: 2;
}

.carta {
    background: rgba(255, 255, 255, 0.95);
    max-width: 650px;
    margin: auto;
    padding: 38px;
    border-radius: 28px;
    box-shadow: 0 0 30px rgba(255, 45, 85, 0.8);
    text-align: center;
    animation: aparecer 1s ease;
    border: 3px solid #ff4d6d;
}

.icono {
    font-size: 60px;
    animation: latir 1s infinite;
}

h1 {
    color: #9d0208;
    font-size: 34px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px #ffb3c1;
}

h2 {
    color: #c1121f;
    margin-top: 25px;
}

p {
    color: #3a0ca3;
    font-size: 18px;
    line-height: 1.6;
}

.saludo {
    font-size: 24px;
    color: #d00000;
    font-weight: bold;
}

.detalles {
    background: linear-gradient(135deg, #fff0f3, #ffe5ec);
    padding: 20px;
    border-radius: 20px;
    margin: 25px 0;
    border: 2px dashed #e5383b;
    box-shadow: inset 0 0 15px rgba(255, 77, 109, 0.25);
}

.detalles p {
    margin: 8px 0;
    color: #800f2f;
    font-weight: 600;
}

.botones {
    margin-top: 25px;
    position: relative;
    height: 85px;
}

button {
    border: none;
    padding: 15px 28px;
    margin: 10px;
    border-radius: 35px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

button:first-child {
    background: linear-gradient(135deg, #ff006e, #d00000);
    color: white;
    box-shadow: 0 0 15px rgba(255, 0, 80, 0.8);
}

button:first-child:hover {
    background: linear-gradient(135deg, #d00000, #6a040f);
    transform: scale(1.1);
}

#btnNo {
    background: #f8f9fa;
    color: #6a040f;
    position: absolute;
    border: 1px solid #ffccd5;
}

#respuesta {
    margin-top: 20px;
    font-size: 23px;
    color: #d00000;
    font-weight: bold;
}

.fuego {
    position: absolute;
    font-size: 80px;
    top: 8%;
    left: 8%;
    animation: flotar 4s infinite ease-in-out;
    opacity: 0.75;
}

.fuego2 {
    top: 70%;
    left: 85%;
    font-size: 90px;
    animation-delay: 1s;
}

.fuego3 {
    top: 78%;
    left: 10%;
    font-size: 70px;
    animation-delay: 2s;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(40px) scale(0.95);
    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes latir {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.22);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes flotar {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-25px) rotate(8deg);
    }

    100% {
        transform: translateY(0) rotate(0deg);
    }
}
